version: '3.8'

services:
  spotifyd:
    image: spotifyd/spotifyd:latest
    container_name: spotifyd
    network_mode: "host"
    volumes:
      - ./spotifyd.conf:/etc/spotifyd.conf
      - spotifyd-cache:/var/cache/spotifyd
      - /run/user/1000/pulse:/run/user/1000/pulse
      - /dev/snd:/dev/snd
    restart: unless-stopped

  spotify-splitter:
    build: .
    container_name: spotify-splitter
    network_mode: "host"
    depends_on:
      - spotifyd
    env_file:
      - .env
    volumes:
      - "${MUSIC_PATH}:/Music"
      - "${BEETS_CONFIG_PATH}:/root/.config/beets"
      - /run/user/1000/pulse:/run/user/1000/pulse
      - /dev/snd:/dev/snd
    restart: unless-stopped

volumes:
  spotifyd-cache:
